<ion-view title="Adventure Details" class="adventure-details">
    <div class="bg"></div>
    <ion-content class="desktop-scroll">
        <div class="cont">
            <div class="row">
                <div class="col">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" slide-interval="5000" show-pager="true" auto-play="true"
                        class="topslide">
                        <ion-slide>
                            <div class="one bg1"></div>
                        </ion-slide>
                        <ion-slide>
                            <div class="two bg2"></div>
                        </ion-slide>
                        <ion-slide>
                            <div class="three bg3"></div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="button-bar bar-light" style="height:63px">
                        <a class="button" style="">Duration<div class="upup">5-6 Hrs</div></a>
                        <a class="button" style="">Price<div class="upup">₹2500</div></a>
                        <a class="button" style="">Difficulty<div class="upup">Beginner</div></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col" style="padding: 10px 5px; margin-top:-5px;">Rock climbing is an activity in which the participants climb up, down or across natural rock formations or
                    artificial rock walls. Here in Manali, we do the real thing.</div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        Tickets Availability
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item"><a href="#"> 
                            Today
                                <div class="card-text-right assertive">No</div>
                            </a></li>
                            <li class="item">
                                <a href="#/select-date"> 
Tomorrow
                                <div class="card-text-right balanced">
                                    Yes
                                </div>
                                                            </a>
                            </li>
                            <li class="item"> <a href="#/select-date"> 
Day after Tomorrow
                                <div class="card-text-right balanced">Yes</div>
                                                       </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        When and Where
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item">Time
                                <div class="card-text-right">9:30 am</div>
                            </li>
                            <li class="item">Meeting Point
                                <div class="card-text-right">Johnson Cafe</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        For whom?
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item">Suitable for
                                <div class="card-text-right">Beginners</div>
                            </li>
                            <li class="item">Age
                                <div class="card-text-right">10+</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        Feel Safe
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item">Certified Instructor
                                <div class="card-text-right">
                                    <i class="icon ion-ios-checkmark-outline balanced" style="font-size:35px;"></i>
                                </div>
                            </li>
                            <li class="item">C.E. Certified Gear
                                <div class="card-text-right"> <i class="icon ion-ios-checkmark-outline balanced" style="font-size:35px;"></i></div>
                            </li>
                            <li class="item">First Aid Kit
                                <div class="card-text-right"> <i class="icon ion-ios-checkmark-outline balanced" style="font-size:35px;"></i></div>
                            </li>
                            <li class="item">Insurance
                                <div class="card-text-right"> <i class="icon ion-ios-checkmark-outline balanced" style="font-size:35px;"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        Food
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item">Snacks
                                <div class="card-text-right"> <i class="icon ion-ios-checkmark-outline balanced" style="font-size:35px;"></i></div>
                            </li>
                            <li class="item">Refreshments
                                <div class="card-text-right"> <i class="icon ion-ios-checkmark-outline balanced" style="font-size:35px;"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        Things to carry
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item">Sunglass
                                <div class="card-text-right"></div>
                            </li>
                            <li class="item">Sunscreen lotion
                                <div class="card-text-right"></div>
                            </li>
                            <li class="item">Extra layer of clothing to keep you warm
                                <div class="card-text-right"></div>
                            </li>
                            <li class="item">Raincoat
                                <div class="card-text-right"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col">
                    <div class="item item-divider item-divider-tweak">
                        Organized by
                    </div>
                    <div class="item item-text-wrap">
                        <img src="../img/organizer.jpg" class="round-avatar">
                        <br>
                        <div style="text-align:center">Sahil Chowfla</div>
                        <br>
                        <p style="margin-top:-15px; text-align:center">+91 9988998898 | sahil@huntfactor.com</p>
                        <br>
                        <p class="justify">Born and raised in the Indian Western Himalayans, Sahil has experience in leading group tours and
                            itineraries at high altitudes and over mountain passes. Highly knowledgeable in Indian geography
                            and Himalayan mountains, he has traveled extensively throughout India, including; Northern India,
                            Ladakh, Kashmir and Andaman island. He's certified in mountaineering and water sport courses
                            and an experienced climber above 6000 meters. Sahil is great with people and loves the opportunity
                            of sharing experiences that tour leading brings.</p>
                    </div>
                </div>
            </div>
            <hr>
            <hr>
            <br>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <a class="title waves-effect waves-light btn" href="#/select-date" style="background-color:#4a87ee;  width:100%; margin-left:0;">
        Book Now</a>
    </ion-footer-bar>
</ion-view>