<ion-view title="Booking Successful" class="booking-successful">
    <div class="bg1"></div>
    <div class="bar bar-header">
        <div class="h1 title">Booking Successful</div>
        <a class="button button-icon icon ion-ios-home" href="#/home"></a>
    </div>
    <ion-content class="padding centered">
        <div class="padding"><h5>Congrats! You have successfully booked 
            <b id="noOfTickets">'3'</b> <b>Rock Climbing</b> tickets for
        <b id="ticketdate3">............</b> :)<br><br>
            We've sent your tickets and other details to <b id="insertEmail">xyz@emal.com</b> your email.<br><br> We wish you all the adventure in the world!<br><br><br> Cheers!<br><br> Your friends at <b>Chaldiye</b>
        </h5>
        </div>
        <a class="title button waves-effect waves-light button-block button-balanced btn" href="#/adventure" style="background-color:#66cc33;  width:100%; margin-left:0;">Discover more Adventures</a>










    </ion-content>
</ion-view>
