<ion-view title="Home" class="home" hide-nav-bar="true">
    <div class="bg1 animated pulse"></div>
    <ion-content class="padding zed" scroll="false">
        <div class="intro">
            <div class="logo-container">
                <img src="../img/icons/chaldiye_logo.png" alt="">
            </div>
            <h2>Chaldiye</h2>
            <h3>ADVENTURES IN MANALI</h3>
        </div>
        <a href="#/adventure" class="row red button button-positive animated pulse2" id="redtogreen">
            <div class="col col-75">
                <h4>Pick your</h4>
                <h1>Adventure</h1>
            </div>
            <div class="col" style="background-color:rgba(0, 0, 0, 0.1); height:75px; margin-top:-6px; margin-right:-6px; padding-top:16px"><i class="ion-chevron-right"></i></div>
        </a>
    </ion-content>
    <!--

    <ion-footer-bar class="review-container">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="footer-review" does-continue="true" slide-interval="7000" show-pager="false" auto-play="true">
            <ion-slide class="slide-height">
                <a class="item item-thumbnail-left item-text-wrap list-height" href="#">
                    <img class="round-avatar" src="http://s20.postimg.org/u2ugw9ojx/image.jpg">
                    <div class="avatar-name">
                        <div class="reviewer-details">
                            <h5>Angry Bird</h5>
                            <h6>January 1, 2016</h6></div>
                        <i class="icon ion-ios-star"></i>
                        <i class="icon ion-ios-star"></i>
                        <i class="icon ion-ios-star"></i>
                        <i class="icon ion--ios-star"></i>
                        <i class="icon ion-ios-star-half"></i>
                        <br>Hunt factor has helped me control my anger!
                        <br> Thank you so much!
                    </div>
                </a>
            </ion-slide>
            <ion-slide class="slide-height">
                <a class="item item-thumbnail-left item-text-wrap list-height" href="#">
                    <img class="round-avatar" src="http://s20.postimg.org/wa3axxj7x/10348539_819831834705798_5451264900670996215_n.jpg">
                    <div class="avatar-name">
                        <div class="reviewer-details">
                            <h5>Brittik Basu</h5>
                            <h6>January 1, 2016</h6></div>
                        <i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i>
                        <i class="icon ion-star"></i>
                        <br> I love the concept of HuntFactor!
                    </div>
                </a>
            </ion-slide>
            <ion-slide>
                <a class="item item-thumbnail-left item-text-wrap list-height" href="#">
                    <img class="round-avatar" src="http://s20.postimg.org/utn721qx9/AAEAAQAAAAAAAAMQAAAAJGNk_MTQ0_Yz_Q2_LTM3_YWMt_NDY0_MC1h.jpg">
                    <div class="avatar-name">
                        <div class="reviewer-details">
                            <h5>Sandeep Alagala</h5>
                            <h6>January 1, 2016</h6></div>
                        <i class="icon ion-ios-star"></i>
                        <i class="icon ion-ios-star"></i>
                        <i class="icon ion-ios-star">
</i><i class="icon ion-ios-star"></i>
                        <i class="icon ion--ios-star"></i><i class="icon ion-ios-star-half"></i>
                        <br> I work really hard! Thanks to HuntFactor!
                    </div>
                </a>
            </ion-slide>
        </ion-slide-box>
    </ion-footer-bar>
  -->
</ion-view>