<ion-view title="HuntFactor Index">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <a href="#/home" class="button button-stable button-block ">Home</a>
        <a href="#/adventure" class="button button-stable button-block ">Adventure</a>
        <a href="#/adventure-details" class="button button-stable button-block ">Adventure Details</a>
        <a href="#/select-date" class="button button-stable button-block ">Select Date</a>
        <a href="#/your-details" class="button button-stable button-block ">Your Details</a>
        <a href="#/order-summary" class="button button-stable button-block ">Order Summary</a>
        <a href="#/booking-successful" class="button button-stable button-block ">Booking Successful</a>
        <a href="#/sign-up" class="button button-stable button-block ">Sign up</a>
        <a href="#/sign-in" class="button button-stable button-block ">Sign in</a>
        <a href="#/page14" class="button button-stable button-block ">Forgot password</a>
    </ion-content>
</ion-view>