<!--<ion-view title="Order Summary" class="order-summary">
    <div class="bar bar-header">
        <button class="button button-icon ion-android-arrow-back" onclick="yourDetails();"></button>
        <div class="h1 title">Order Summary</div>
        <button class="button button-icon icon ion-ios-information-outline"></button>
    </div>
    <div class="common-bg"></div>
    <ion-content class="padding centered desktop-scroll">


        <div class="card order-summary">
            <div class="item item-divider">
                Order ID : 43224 </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">Who?
                        <div class="text-right positive" id="cusName">... +2</div>
                    </li>
                    <li class="item">Doing What?
                        <div class="text-right positive">Rock Climbing</div>
                    </li>
                    <li class="item">Where?
                        <div class="text-right positive">Manali</div>
                    </li>
                    <li class="item">When?
                        <div class="text-right positive">18th Jan @9:30 am</div>
                    </li>
                    <li class="item">Meeting Point
                        <div class="text-right positive">Johnson Cafe,
                            <br>Manali</div>
                    </li>


                    <li class="item">Price per ticket
                        <div class="text-right positive">₹2500</div>
                    </li>
                    <li class="item">No. of Tickets
                        <div class="text-right positive" id="showTic2">...</div>

                    </li>



                    <li class="item">
                        <div class="row">

                            <div class="col col-75">
                                <label class="item item-input item-floating-label">
                                    <span class="input-label" style="display:inline">Discount Code</span>
                                    <input type="text" placeholder="Discount Code">

                                </label>






                            </div>
                            <div class="col">
                                <div class="text-right balanced button button-clear" style="margin-top:20px">
                                    <p>Apply</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="item"><b>Total</b>
                        <div class="text-right balanced" id="totalAmt">₹...</div>
                    </li>
                </ul>



            </div>

        </div>




    </ion-content>
    <ion-footer-bar class="bar-positive">
        <a class="title waves-effect waves-light btn" href="#/booking-successful" style="background-color:#4a87ee;  width:100%; margin-left:0;">Make Payment</a>
    </ion-footer-bar>

</ion-view>
-->
<ion-view title="Order Summary" class="order-summary">
    <div class="bg"></div>
    <ion-content class="desktop-scroll">
        <div class="cont">
            <div class="card">
                <div class="item item-divider" style="padding-top:35px;">
                    <div class="row">
                        <div class="col">
                            <span> Order ID : 43224
</span>
                        </div>
                        <div class="col">
                            <span class="badge badge-positive" id="totalAmt">0</span>
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li class="item">Who?
                            <div class="text-right positive" id="cusName">... +2</div>
                        </li>
                        <li class="item">Doing What?
                            <div class="text-right positive">Rock Climbing</div>
                        </li>
                        <li class="item" style="height:70px;">Where?
                            <div class="text-right positive">Manali,
                                <br>Himachal Pradesh</div>
                        </li>
                        <li class="item">When?
                            <div class="text-right positive" id="ticketdate2">.............</div>
                        </li>
                        <li class="item" style="height:70px;">Meeting Point
                            <div class="text-right positive">Johnson Cafe,
                                <br>Manali</div>
                        </li>
                        <li class="item">Price per ticket
                            <div class="text-right positive">₹2500</div>
                        </li>
                        <li class="item">No. of Tickets
                            <div class="text-right positive" id="showTic2">...</div>
                        </li>
                        <li class="item">
                            <div class="row">
                                <div class="col col-75">
                                    <label class="item item-input item-floating-label">
                                    <span class="input-label" style="display:inline">Discount Code</span>
                                    <input type="text" placeholder="Discount Code">

                                </label>
                                </div>
                                <div class="col">
                                    <div class="text-right balanced button button-clear" style="margin-top:20px">
                                        <p>Apply</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="item"><b>Total</b>
                            <div class="text-right balanced" id="totalAmt">₹...</div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <a class="title waves-effect waves-light btn" href="#/booking-successful" style="background-color:#4a87ee;  width:100%; margin-left:0;">
        Make Payment
        </a>
    </ion-footer-bar>
</ion-view>