<ion-view title="Adventures in Manali" class="adventure">
    <div class="bg1"></div>

    <ion-content class="padding">
        <div style="width: 300px; height: 1px;" class="spacer"></div>


        <div class="ok-centered">
            <div class="center-them">



                <div class="card">
                    <div class="card-image">
                        <a class="round waves-effect waves-block" href="#/adventure-details"><img src="../img/icons/rock_climbing.png">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#/adventure-details" class="energized">Rock Climbing</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#/adventure-details">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Rock Climbing<i class="material-icons right">close</i></span>
                        <p>Rock climbing is an activity in which participants climb up, down or across natural rock formations or artificial rock walls. The goal is to reach the summit of a formation or the endpoint of a usually pre-defined route without falling. Rock climbing involves sustained use of hands to support the climber's weight as well as to provide balance.</p>
                    </div>
                </div>





                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/canoeing.png">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="" onclick="adventureNA()" class="energized">Canoeing</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Canoeing<i class="material-icons right">close</i></span>
                        <p>Canoeing is a sport or recreational activity which involves paddling a canoe with a single-bladed paddle. In some parts of Europe canoeing refers to both canoeing and kayaking, with a canoe being called a Canadian canoe.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/mountain_biking.png">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#" onclick="adventureNA()" class="energized">Mountain Biking</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mountain Biking<i class="material-icons right">close</i></span>
                        <p>Mountain biking is the sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bikes. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/camping.png">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#" onclick="adventureNA()" class="energized">Camping</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Camping<i class="material-icons right">close</i></span>
                        <p>Camping is an elective outdoor recreational activity. Generally held, participants leave developed areas to spend time outdoors in more natural ones in pursuit of activities providing them enjoyment. To be regarded as "camping" a minimum of one night is spent outdoors, distinguishing it from day-tripping, picnicking, and other similarly short-term recreational activities. Camping can be enjoyed through all four seasons.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/rafting.png">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#" onclick="adventureNA()" class="energized">Rafting</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Rafting<i class="material-icons right">close</i></span>
                        <p>Rafting and white water rafting are recreational outdoor activities which use an inflatable raft to navigate a river or other body of water. This is often done on whitewater or different degrees of rough water, and generally represents a new and challenging environment for participants.</p>
                    </div>
                </div>




                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/snow_walking.png">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#" onclick="adventureNA()" class="energized">Snow Walking</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Snow Walking<i class="material-icons right">close</i></span>
                        <p>Snow racket Hiking is a real winter adventure and a chance to get closer to the Nature as you hike through the Snow covered Landscape. Snow rackets a device to help you walk on deep snow, it helps to you keep up ward on the snow, as well as you use less effort and you will not slide backward.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/snowboarding.png">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#" onclick="adventureNA()" class="energized">Snowboarding</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Snowboarding<i class="material-icons right">close</i></span>
                        <p>Snowboarding is a recreational activity and olympic sport that involves descending a slope that is covered with snow while standing on a snowboard attached to a rider's feet.

                        </p>
                    </div>
                </div>


                <div class="card">
                    <div class="card-image">
                        <div class="round waves-effect waves-block" onclick="adventureNA()"><img src="../img/icons/waterfall_rapelling.png" class="small">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title energized"><a href="#=" onclick="adventureNA()" class="energized">Waterfall Rappelling</a><i class="material-icons right activator">more_vert</i></span>
                        <p><a href="#" onclick="adventureNA()">Adventure Details</a></p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Waterfall Rappelling<i class="material-icons right">close</i></span>
                        <p>Rappelling or Abseiling is a technique used for controlled descending down from a rock patch or slope.This technique has been absorbed by our adventure experts to create a happening recreational adventure activity wherein we will descend down on a rope that too under the refreshing flow of water via waterfalls, under the safety and security of experts
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <!-- <ion-footer-bar style="padding:0;" class="margin-bottom:2px; bar-positive">



        <a class='dropdown-button btn' href='#' data-activates='dropdown1' style="width:100%; height:100%;">Destination : Manali</a>

    
        <ul id='dropdown1' class='dropdown-content2'>
            <li><a href="#!">Other Destinations Coming Soon</a></li>
            <li><a href="#!">Our First Destination : Manali (India)</a></li>

        </ul>



    </ion-footer-bar>-->

</ion-view>
